/* [START] FORM Improvements */

#map_q {
    height: 300px;
}

.bootstrap-wrapper .alert.non-translatable {
    padding: 7px 12px;
    margin-bottom: 0px;
}

.blueimp-gallery {
    z-index: 99999;
}

.quick-submission hr {
    margin-top: 30px;
    margin-bottom: 30px;
}

.panel-body h4,
.bootstrap-wrapper h4 {
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-size: 20px;
}

.bootstrap-wrapper .upload-files-widget .btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    font-family: Montserrat, "Helvetica Neue", sans-serif;
    vertical-align: top;
}

.bootstrap-wrapper .upload-files-widget .btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    text-transform: none;
    float: left;
}

.bootstrap-wrapper .upload-files-widget .btn-success {
    color: #fff;
    background-color: #6a7be7;
    border-color: #6a7be7;
}

.btn-success:not(:disabled):not(.disabled):active {
    background-color: #5160bf;
    border-color: #5160bf;
}

.ci.sw_widget .bootstrap-wrapper .upload-files-widget .btn-xs,
.ci.sw_widget .bootstrap-wrapper .upload-files-widget .btn-group-xs > .btn {
    padding: 1px 5px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
    height: auto;
}

.ci.sw_widget .bootstrap-wrapper .upload-files-widget .btn-xs i {
    font-size: 13px;
}

.sw_widget .fileupload-buttonbar * {
    font-size: 14px;
}

.files-list .btn-info.iedit.visible-inline-lg {
    display: none !important;
}

.ci.sw_widget.sw_wrap .upload-files-widget input[type="checkbox"] {
    float: left;
    width: auto;
    margin: 4px 4px 0px 4px;
}

.bootstrap-wrapper .upload-files-widget code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden !important;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.bootstrap-wrapper .upload-files-widget span.delete {
    display: inline-block;
}

ul.files-list {
    list-style: none;
}

ul.files-list li {
    overflow: hidden;
    height: 177px;
}

ul.files-list .filename {
    line-height: 1;
}

div.options-container {
    line-height: 1;
    outline-style: none;
    outline-width: 0px;
    font-size: 13px;
}

.bar {
    background-color: #e8e8e8;
    border-right-color: #99d;
}

.progress-extended {
    overflow: hidden;
}

.fileinput-button input {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
}

.bootstrap-wrapper .progress {
    height: 20px;
    margin-bottom: 0px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.fileupload-progress {
    height: 40px;
    overflow: hidden;
}

.bootstrap-wrapper .has-error .help-block,
.bootstrap-wrapper .has-error .control-label,
.bootstrap-wrapper .has-error .radio,
.bootstrap-wrapper .has-error .checkbox,
.bootstrap-wrapper .has-error .radio-inline,
.bootstrap-wrapper .has-error .checkbox-inline,
.bootstrap-wrapper .has-error.radio label,
.bootstrap-wrapper .has-error.checkbox label,
.bootstrap-wrapper .has-error.radio-inline label,
.bootstrap-wrapper .has-error.checkbox-inline label {
    color: #a94442;
}

.ci.sw_widget.sw_wrap .bootstrap-wrapper .has-error input.form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.files .preview * {
    width: auto;
}

.thumbnail.thumbnail-property {
    background: transparent;
    border: 0;
    padding: 0;
    margin: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    overflow: visible;
}

.thumbnail.thumbnail-property .panel {
    padding: 25px 25px;
    background: #fff;
    border: 0;
    border-radius: 0;
    margin-bottom: 35px;
}

.thumbnail.thumbnail-property .caption > .date,
.thumbnail.thumbnail-property .caption > .thumbnail-title {
    display: none;
}

.thumbnail.thumbnail-property .caption > .description {
    margin: 0;
}

.thumbnail.thumbnail-property .sw_widget .panel {
    padding: 25px 25px;
    padding-bottom: 10px;
    border: 1px solid #E8ECF1;
    border-radius: 2px;
}

.thumbnail.thumbnail-property .panel-heading {
    background: transparent;
    padding: 0;
    border: 0;
    color: #000;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 40px;
    position: relative;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.thumbnail.thumbnail-property .panel-heading .title {
    color: #092c61;
    font-size: 25px;
    font-weight: 700;
    margin: 0;
    height: initial;
    margin-bottom: 25px;
    position: relative;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    text-transform: uppercase;
    padding-left: 0;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    position: relative;
}

.wrap-post .thumbnail.thumbnail-property .caption {
    display: block;
    padding: 0;
}

.ci.sw_widget.sw_wrap .upload-files-widget .fileupload-buttonbar input[type="checkbox"] {
    margin: 10px 4px 0px 10px;
}

.alert {
    border-radius: 0;
}

.widget .files.files-list {
    margin-left: -7px;
    margin-right: -7px;
}

.widget .files.files-list:after {
    content: '';
    display: table;
    clear: both;
}

.widget .files.files-list li {
    margin: 7px !important;
    padding-top: 0 !important;
}

.btn {
    border-radius: 0 !important;
}

.img-rounded {
    border-radius: 3px;
}

.widget:not(.widget-box) .upload-files-widget ul li:last-child,
.widget:not(.widget-box) .upload-files-widget ul li,
.widget:not(.widget-box) .upload-files-widget ul li:first-child {
    border: 1px solid #E5E5E5;
}

.thumbnail.thumbnail-property .panel .presuf {
    padding-top: 13px;
}

.thumbnail.thumbnail-property .panel .form-horizontal .form-group input[type=checkbox] {
    margin: 20px 0 0;
}

.widget .nav.nav-tabs {
    margin-left: 0;
    margin-top: 15px;
}

.table.table-striped strong {
    color: #092c61;
}

.quick-submission .winter_dropdown_tree > .btn-group,
.quick-submission .winter_dropdown_tree {
}

body .quick-submission .winter_dropdown_tree > .btn-group button.btn.btn-default:first-child {
    outline: none !important;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

@media (max-width: 991px) {
    .box-overflow-container {
        padding-left: 0;
        padding-right: 0;
    }
}

.wrap-post table,
.wrap-post th,
.wrap-post td {
    border: 0;
}

.thumbnail.thumbnail-property .winter_dropdown_tree .btn {
    margin: 0;
}

.form-editproperty .winter_dropdown_tree,
.form-editproperty .form-control {
    display: inline-block;
    width: calc(100% - 150px);
}

.form-editproperty .presuf {
    display: inline-block;
    -webkit-flex: 1 2 45px;
    -ms-flex: 1 2 45px;
    flex: 1 2 45px;
    text-align: center;
}

#quick_submission_form .panel-body {
    padding: 0;
}

.form-horizontal.form-editproperty .form-group {
    margin-right: 0;
    margin-left: 0;
    padding: 0 0;
    margin-bottom: 5px;
}

.form-horizontal.form-editproperty .control-label {
    margin-bottom: 8px;
    float: left;
    color: #67686c;
    font-size: 13px;
    margin-top: 2px;
}

.form-horizontal.form-editproperty .tab-content > .active {
    padding-top: 15px;
    margin-bottom: -15px;
}

.bootstrap-wrapper .upload-files-widget .btn {
    margin-top: 0;
}

.bootstrap-wrapper .upload-files-widget .btn-success {
    position: relative;
}

.quick-submission .panel-body {
    padding: 0 0 15px 0;
}

.quick-submission div.widget-styles {
    padding: 0;
    position: relative;
    border-radius: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 30px 30px 39px 30px;
    border: 1px solid #dfe0e5;
    margin-bottom: 35px;
}

.quick-submission .widget-styles .header h2 {
    text-align: left;
    margin: 0;
    padding: 0;
}

.quick-submission .widget-styles .btn {
    margin-top: 0;
}

.quick-submission .tab-pane .form-group:last-child {
    margin-bottom: 30px;
}

/* [/END] FORM Improvements */

.quick-submission .yordy-form .form-sw_table_edit select,
.quick-submission .yordy-form .form-sw_table_edit input {
    height: 32px;
    width: 100%;
}

.quick-submission table.sw_table_edit {
    table-layout: auto;
}

.form-sw_table_edit .btn {
    border: 1px solid #eee !important;
    padding: 1px 4px;
    line-height: 23px;
}

.form-sw_table_edit .btn.tabledit-save-button {
    display: inline-block;
    border: 1px solid #4cae4c !important;
    border-radius: 3px !important;
    background: #5cb85c;
    color: #fff;
}

.form-sw_table_edit .btn.tabledit-save-button:hover {
    display: inline-block;
    border: 1px solid #9d9d9d !important;
    border-radius: 3px !important;
    background: #53a753;
}

body .winter_dropdown_tree .list_scroll {
    border-left: 1px solid #ccc;
}

.input-field > label {
    float: none;
    cursor: pointer;
    z-index: 5;
    position: relative;
}

.form-field {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.form-field > * {
    -webkit-flex: 1 2 auto;
    -ms-flex: 1 2 auto;
    flex: 1 2 auto;
}

.form-field .drop-menu {
    border: 1px solid #e0e1e6;
}

.post_info {
    padding: 0;
    border: 0;
    border-top: 0;
}

.blog-single-post > ul.post-nfo,
.post_info > .btn-default,
.post_info > ul.post-nfo {
    display: none;
}

.wp-core-ui .button.button-small,
.wp-core-ui .button-group.button-small .button {
    width: initial;
}

table.table-rates:not(#wp-calendar) thead th,
.quick-submission table:not(#wp-calendar) thead th {
    padding-top: 17px;
}

.quick-submission table:not(#wp-calendar) td,
.quick-submission table:not(#wp-calendar) th {
    padding: 17px 10px;
}

.quick-submission table:not(#wp-calendar) td:first-child,
.quick-submission table:not(#wp-calendar) th:first-child {
    padding-left: 10px;
}

.widget .files.files-list {
    margin-left: 0;
    margin-right: 0;
    min-height: 150px;
    border: 1px dashed #303e94;
    border-radius: 3px;
    padding: 10px;
    position: relative;
    margin-top: 5px;
}

.widget .files.files-list:before {
    content: attr(data-placeholder);
    position: absolute;
    font-size: 30px;
    font-weight: 600;
    color: #303e94;
    text-align: center;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 100;
    opacity: .8;
    -webkit-text-shadow: 0 0 20px #fff;
    text-shadow: 0 0 20px #fff;
    -webkit-transition: all .15s;
    transition: all .2s ease-in-out;
    background: #fbfbfb82;
    padding: 5px 10px;
}

.widget .files.files-list:hover:before {
    color: #303e9463;
}

.widget .files.files-list li {
    width: 157px;
}

div.form-group .winter_dropdown_tree button.btn.btn-default.dropdown-toggle, 
div.form-group .winter_dropdown_tree button:first-child {
    line-height: 1;
}

body .post_info > h3,
.blog-single-post p:first-child {
    display: none;
}